/Radlon.Common/obj
/Radlon.Common/bin
/Radlon.Common.UnitTests/obj
/Radlon.Common.UnitTests/bin
/*.suo
/.vs/Radlon.Common/v14/*.suo
/.vs/Some/v14/.suo
/Some/obj
/Some/bin
/Some.UnitTests/obj
/Some.UnitTests/bin
/Randomizer/obj
/Randomizer/bin
/Randomizer.UnitTests/obj
/Randomizer.UnitTests/bin
/.vs
/Randomizer.OutputTests/obj
/Randomizer.OutputTests/bin
/Randomizer.OutputTests/*.user
/Randomizer/*.user
/packages
