<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="randomSettings" type="Randomizer.OutputTests.RandomSettings, Randomizer.OutputTests"/>
  </configSections>

  <appSettings>
    <add key="basePath" value="C:\Temp"/>
    <add key="executionNumber" value="10000000"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup> 
</configuration>
