<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="randomSettings" type="Randomizer.OutputTests.RandomSettings, Randomizer.OutputTests"/>
  </configSections>
  
  <randomSettings>
    <randomSetting type="floatWithRange">
      <range minValue="10.11111" maxValue="10.12111"/>
    </randomSetting>
    <arndomSetting type="decimalWithRange">
      <range minValue="10.11111" maxValue="10.12111"/>
    </arndomSetting>
  </randomSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Path" value="C:\Temp\"/>
    <add key="ErrorPath" value="C:\Temp\error.txt"/>
    <add key="numberAmount" value="900000"/>
  </appSettings>
  
</configuration>